<div class="tableDiv">
  <table id="issuer{{id}}" class="issuerDataInfoModule"
    style="background-color:{{issuerData.g_expanded.infoModule.backgroundColor.string}};
    color: {{issuerData.g_expanded.infoModule.fontColor.string}};">
    <tr>
      <td>
        <input class="editable" maxlength="15" placeholder="15 chars"
            name="issuerData.g_expanded.infoModule.row0.col0.label.string"
            value="{{issuerData.g_expanded.infoModule.row0.col0.label.string}}"
            style="color: {{issuerData.g_expanded.infoModule.fontColor.string}};" /><br />
        <input class="editable" maxlength="12" placeholder="12 chars"
            name="issuerData.g_expanded.infoModule.row0.col0.value.string"
            value="{{issuerData.g_expanded.infoModule.row0.col0.value.string}}"
            style="color: {{issuerData.g_expanded.infoModule.fontColor.string}};" />
      </td>
      <td>
        <input class="editable" maxlength="15" placeholder="15 chars"
            name="issuerData.g_expanded.infoModule.row0.col1.label.string"
            value="{{issuerData.g_expanded.infoModule.row0.col1.label.string}}"
            style="color: {{issuerData.g_expanded.infoModule.fontColor.string}};" /><br />
        <input class="editable" maxlength="12" placeholder="12 chars"
            name="issuerData.g_expanded.infoModule.row0.col1.value.string"
            value="{{issuerData.g_expanded.infoModule.row0.col1.value.string}}"
            style="color: {{issuerData.g_expanded.infoModule.fontColor.string}};" />
      </td>
    </tr>
    <tr>
      <td>
        <input class="editable" maxlength="15" placeholder="15 chars"
            name="issuerData.g_expanded.infoModule.row1.col0.label.string"
            value="{{issuerData.g_expanded.infoModule.row1.col0.label.string}}"
            style="color: {{issuerData.g_expanded.infoModule.fontColor.string}};" /><br />
        <input class="editable" maxlength="12" placeholder="12 chars"
            name="issuerData.g_expanded.infoModule.row1.col0.value.string"
            value="{{issuerData.g_expanded.infoModule.row1.col0.value.string}}"
            style="color: {{issuerData.g_expanded.infoModule.fontColor.string}};" />
      </td>
      <td>
        <input class="editable" maxlength="15" placeholder="15 chars"
            name="issuerData.g_expanded.infoModule.row1.col1.label.string"
            value="{{issuerData.g_expanded.infoModule.row1.col1.label.string}}"
            style="color: {{issuerData.g_expanded.infoModule.fontColor.string}};" /><br />
        <input class="editable" maxlength="12" placeholder="12 chars"
            name="issuerData.g_expanded.infoModule.row1.col1.value.string"
            value="{{issuerData.g_expanded.infoModule.row1.col1.value.string}}"
            style="color: {{issuerData.g_expanded.infoModule.fontColor.string}};" />
      </td>
    </tr>
  </table>
</div>
<div class="colors editonly">
  Background Color:
  <input class="editable right" value="{{issuerData.g_expanded.infoModule.backgroundColor.string}}"
      placeholder="Background color hex"
      name="issuerData.g_expanded.infoModule.backgroundColor.string" />
  <div class="clear"></div>
  Font Color:
  <input class="editable right" value="{{issuerData.g_expanded.infoModule.fontColor.string}}"
      placeholder="Font color hex"
      name="issuerData.g_expanded.infoModule.fontColor.string" />
  <div class="clear"></div>
</div>